body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
}

.container{
	padding:15px;
	border-radius:1px;
 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h\:outputText {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}
h\:inputText {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;	
}